$mq-tiny: 20em;
$mq-small:   30em;
$mq-medium:  50em;
$mq-large:   70em;


$base-font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif !default;


$base-font-color: rgb(252, 252, 252) !default;
$base-font-color-invert: #333 !default;
$base-font-highlight: #ccc !default;
$content-link-color: #2B3139 !default;


$base-background-color: #FFF !default;
$header-background: #2B3139 !default;
$secondary-background: #F7F8F9 !default;
$header-secondary: #FFE2E0 !default;
$base-content-background: rgb(252, 252, 252);